<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="150.37051.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Serilog" version="2.9.0" targetFramework="net452" requireReinstallation="true" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net452" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net452" />
  <package id="Unofficial.Microsoft.SQLServer.SMO.2014" version="12.0.2000.8" targetFramework="net472" />
</packages>